<button ng-click="goToseance()" title="Précédent" type="button" class="btn btn-primary perso-top-left" ><i class="fa fa-reply fa-2x"></i></button>

<div class="perso-top-right">
    <div><button ng-click="downloadAll()"  title="Charger tout" type="button" class="btn btn-danger" style="width: 55px" ><i class="fa-cloud-download fa fa-2x"></i></button></div>
    <div style="margin-top: 5px"><button ng-click="popupSort()"  title="Trier" type="button" class="btn btn-primary" style="width: 55px" ><i class="fa fa-sort-alpha-asc fa-2x"></i> </button> </div>
    <div style="margin-top: 5px"><button ng-click="popupPresence()"  type="button" title="Présence" class="btn btn-success" style="width: 55px"><i class="fa fa-map-marker fa-2x"></i> </button> </div>
    <div ng-if="!isInvite" style="margin-top: 5px"><button ng-click="downloadZipSeance()"  type="button" title="ZIP" class="btn btn-warning" style="width: 55px"> ZIP </button> </div>
    <div ng-if="!isInvite" style="margin-top: 5px"><button ng-click="downloadPdfSeance()"  type="button" title="PDF" class="btn btn-warning" style="width: 55px"> PDF </button> </div>
</div>



<button ng-click="clickOnConvocation()" class ="btn btn-default btn-lg center-block projet perso_align_left menuButton"
        style="background: #e8eaf6; margin-top: 30px; padding: 15px">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-9 nopadding" style="overflow: hidden">
            <i class = "icon telechargement ou  telecharger">
            </i> Convocation
        </div>

        <div class="col-xs-2">
            <span ng-if="annotations.private > 0" class='fa-user fa label-as-badge label-primary'>  {{annotations.private}}</span>
            <span ng-if="annotations.sharred > 0" class='fa-users fa label-as-badge label-success'>  {{annotations.sharred}}</span>
<!--            <span ng-class="{'fa-users fa label-warning label-as-badge' : data.unreadAnnotation }"></span>-->
        </div>
    </div>

</button>


<legend ng-show="seance.otherdocs.length > 0" class="title-odj menuButton center-block perso-margin-vertical"><h2>Autres documents</h2></legend>
<div ng-repeat="otherdoc in seance.otherdocs| orderBy: sortOtherdoc" >
    <otherdoc-btn data = "otherdoc" collectivite ="collectivite" account="accountId" seance="seanceId" state='state' ></otherdoc-btn>
</div>


<legend ng-show="seance.projets.length > 0" class="title-odj menuButton center-block perso-margin-vertical-lg"><h2>Projets</h2></legend>
<div ng-repeat="projet in seance.projets| orderBy: sortProjet" >

    <projet-btn data = "projet" collectivite ="collectivite" account="accountId" seance="seanceId" state='state' ></projet-btn>

    <div ng-repeat="annexe in projet.annexes| orderBy: sortAnnexe" >

        <annexe-btn data = "annexe" collectivite ="collectivite" seanceid="seanceId" accountid ='accountId' projetid = projet.id state='state'></annexe-btn>
    </div>

</div>

