<div class ="btn btn-default btn-lg center-block perso_align_left longButton menuButton"  style="background: #9e9e9e; color:white" ng-click="action()">
    <div class="row" >
        <div class="col-xs-offset-3 col-xs-4" >
            <b>Séances classées</b><br>
        </div>
        <div class="col-xs-3" style="font-style: italic" >
            (mode connecté)
        </div>
    </div>
</div>
