<div id="confirm-not-save" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start">
                <h4 class="modal-title">Attention</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous changer de page sans sauvegarder ?
            </div>

            <div class="modal-footer">
                <button class="btn btn-link" data-bs-dismiss="modal" type="button">
                    <span class="fa fa-times"></span>
                    Annuler
                </button>

                <a href="#"  class="btn btn-primary" id="confirm-btn">
                    <span class="fas fa-check"></span>
                    Confirmer
                </a>
            </div>
        </div>
    </div>
</div>
