{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle title %}

{% block pageActions %}
    {{ macro.backButton('admin_index') }}
{% endblock %}

{% block pageSaveReturn %}
    {{ macro.save('admin_index', {}, 'Enregistrer', 'fa fa-save') }}
{% endblock %}
